<div class="content">
    <p>Today is 21st March.Today is Thursday</p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <h3>This is Heading</h3>
                    <p>RangaPrasad</p>
                </div>
                <div class="col-md-4">
                    <h3>This is Heading</h3>
                    <p>RangaPrasad</p>
                </div>
                <div class="col-md-4">
                    <h3>This is Heading</h3>
                    <p>RangaPrasad</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <button (click)="increment()">increment</button>
                <button (click)="decrement()">decrement</button>
                <h1>counter:{{counter}}</h1>
            </div>
            <div class="col-9"></div>
        </div>

    </div>
</div>